@charset "ISO-8859-1";

body {
  font-family: Helvetica, sans-serif;
}

button {
  background-color: #295c84;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms; /* for transitioning between colors */
  vertical-align: center;
  user-select: none; /* you cannot select text inside this button */
}

button:hover,
button:focus {
  background-color: #004084;
}

pre, textarea {
	font-family: Helvetica, sans-serif;
	font-size: 14px;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	user-select: none; /* needed for d&d */
}

table td, thead {
	border: 1px solid grey;
	padding: 5px;
}

table tr:nth-child(even) {
	background-color: #f0f8ff;
}

table thead {
	padding: 10px;
	background-color: #295c84;
	color: white;
}

#logoutButton {
	position: absolute;
	top: 10px;
	right: 10px;
}

#albumPlusButtons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#modalWindow {
  display: none;
  position: fixed;
  z-index: 1; /* sit on top */
  padding-top: 10px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* enable scroll if needed */
  overflow-y: auto;
  background-color: rgba(0,0,0,0.5); /* black w/ opacity */
}

#modalContent {
  overflow-y: auto;
  background-color: white;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 10px;
  width: 80%;
}

/* the close button */
#closeButton {
  color: grey;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#closeButton:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.thumbnail {
	width: 200px;
	height: auto;
	margin-left: auto;
  	margin-right: auto;
  	border-radius: 5px;
}

.fullImage {
	max-width: 100%;
	margin-left: auto;
  	margin-right: auto;
  	border-radius: 5px;
}

#imageView table {
	width: 100%;
	border: none;
}

#yourComment {
	width: 500px;
	height: 100px;
	border-radius: 5px;
}
